[Desktop Entry]
Type=Application
Name=FlexiGPT
GenericName=AIChatBot
Comment=FlexiGPT - An AI application platform
Categories=Utility
Icon=io.github.flexigpt.Client
Exec=flexigpt
Terminal=false
