@import '@fontsource-variable/inter';
@import 'tailwindcss';

@theme {
	--font-sans:
		'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
}

@plugin "daisyui/theme" {
	name: 'applight';
	color-scheme: 'light';
	--color-base-100: oklch(92.951% 0.002 17.197);
	--color-base-200: oklch(86.445% 0.002 17.197);
	--color-base-300: oklch(79.938% 0.001 17.197);
	--color-base-content: oklch(21% 0.006 285.885);
	--color-primary: oklch(45% 0.24 277.023);
	--color-primary-content: oklch(93% 0.034 272.788);
	--color-secondary: oklch(65% 0.241 354.308);
	--color-secondary-content: oklch(94% 0.028 342.258);
	--color-accent: oklch(0% 0 0);
	--color-accent-content: oklch(100% 0 0);
	--color-neutral: oklch(14% 0.005 285.823);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: oklch(72.06% 0.191 231.6);
	--color-info-content: oklch(0% 0 0);
	--color-success: oklch(64.8% 0.15 160);
	--color-success-content: oklch(0% 0 0);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(0% 0 0);
	--color-error: oklch(71.76% 0.221 22.18);
	--color-error-content: oklch(0% 0 0);
	--radius-selector: 1rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

@plugin "daisyui/theme" {
	name: 'appdark';
	color-scheme: 'dark';
	--color-base-100: oklch(0% 0 0);
	--color-base-200: oklch(19% 0 0);
	--color-base-300: oklch(22% 0 0);
	--color-base-content: oklch(87.609% 0 0);
	--color-primary: oklch(35% 0 0);
	--color-primary-content: oklch(100% 0 0);
	--color-secondary: oklch(35% 0 0);
	--color-secondary-content: oklch(100% 0 0);
	--color-accent: oklch(77% 0.152 181.912);
	--color-accent-content: oklch(38% 0.063 188.416);
	--color-neutral: oklch(14% 0.005 285.823);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: oklch(74% 0.16 232.661);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success: oklch(76% 0.177 163.223);
	--color-success-content: oklch(27% 0.105 12.094);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(27% 0.105 12.094);
	--color-error: oklch(71% 0.194 13.428);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 1rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

@plugin "daisyui" {
	prefix: '';
	exclude: rootscrollgutter, properties;
	themes:
		'applight' --default,
		'appdark' --prefersdark,
		'abyss',
		'acid',
		'aqua',
		'autumn',
		'black',
		'bumblebee',
		'business',
		'caramellatte',
		'cmyk',
		'coffee',
		'corporate',
		'cupcake',
		'cyberpunk',
		'dark',
		'dim',
		'dracula',
		'emerald',
		'fantasy',
		'forest',
		'garden',
		'halloween',
		'lemonade',
		'light',
		'lofi',
		'luxury',
		'night',
		'nord',
		'pastel',
		'retro',
		'silk',
		'sunset',
		'synthwave',
		'valentine',
		'winter',
		'wireframe';
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	:root,
	:where([data-theme]) {
		/* light versions */
		--bg-mermaid-light: color-mix(in oklch, var(--color-base-200) 80%, white 50%);
		--bg-code-light: var(--color-base-content);
		--bg-code-header-light: color-mix(in oklch, var(--color-base-content) 90%, white 10%);
		--text-code-light: var(--color-base-100);
		--text-lineno-light: color-mix(in oklch, var(--color-neutral-content) 80%, black 20%);
		--text-neutral-custom-light: color-mix(in oklch, var(--color-neutral) 80%, white 20%);

		/* dark versions */
		--bg-mermaid-dark: var(--color-base-300);
		--bg-code-dark: var(--color-base-300);
		--bg-code-header-dark: var(--color-base-200);
		--text-code-dark: var(--color-base-content);
		--text-lineno-dark: color-mix(in oklch, var(--color-neutral-content) 50%, white 50%);
		--text-neutral-custom-dark: color-mix(in oklch, var(--color-neutral) 50%, white 50%);

		/* default applies to all light versions  */
		--bg-mermaid: var(--bg-mermaid-light);
		--bg-code: var(--bg-code-light);
		--bg-code-header: var(--bg-code-header-light);
		--text-code: var(--text-code-light);
		--text-lineno: var(--text-lineno-light);
		--text-neutral-custom: var(--text-neutral-custom-light);
	}

	[data-theme='appdark'],
	[data-theme='abyss'],
	[data-theme='aqua'],
	[data-theme='black'],
	[data-theme='business'],
	[data-theme='coffee'],
	[data-theme='dark'],
	[data-theme='dim'],
	[data-theme='dracula'],
	[data-theme='forest'],
	[data-theme='halloween'],
	[data-theme='luxury'],
	[data-theme='night'],
	[data-theme='sunset'],
	[data-theme='synthwave'] {
		--bg-mermaid: var(--bg-mermaid-dark);
		--bg-code: var(--bg-code-dark);
		--bg-code-header: var(--bg-code-header-dark);
		--text-code: var(--text-code-dark);
		--text-lineno: var(--text-lineno-dark);
		--text-neutral-custom: var(--text-neutral-custom-dark);
	}
}

@layer utilities {
	.bg-mermaid {
		background-color: var(--bg-mermaid);
	}
	.bg-code {
		background-color: var(--bg-code);
	}
	.bg-code-header {
		background-color: var(--bg-code-header);
	}
	.text-code {
		color: var(--text-code);
	}
	.text-neutral-custom {
		color: var(--text-neutral-custom);
	}
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@layer base {
	*::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	*::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 4px;
	}

	*::-webkit-scrollbar-track {
		background-color: auto;
	}
}

/* Shiki styling adjustments */
.shiki-container pre {
	background: transparent !important;
	padding: 0.5em;
	margin: 0;
	border-radius: 0.25rem;
	overflow-x: auto;
}

.shiki-container code {
	background: transparent !important;
	white-space: pre-wrap;
	overflow-wrap: anywhere;
}

code {
	counter-reset: step;
	counter-increment: step 0;
}

code .line {
	user-select: none; /* Disable for entire line */
	-webkit-user-select: none;
}

code .line > * {
	user-select: text; /* Re-enable for code content */
	-webkit-user-select: text;
}

code .line::before {
	content: counter(step);
	counter-increment: step;
	width: 2rem;
	display: inline-block;
	text-align: left;
	user-select: none;
	color: var(--text-lineno, #e0e0e0);
	pointer-events: none;
	-webkit-user-select: none;
}
