@import '@fontsource-variable/inter';
@import 'tailwindcss';

@theme {
	--font-sans:
		'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
}

@plugin 'daisyui/theme' {
	/* this is nord */
	name: 'applight';
	color-scheme: light;
	--color-base-100: oklch(95.127% 0.007 260.731);
	--color-base-200: oklch(93.299% 0.01 261.788);
	--color-base-300: oklch(89.925% 0.016 262.749);
	--color-base-content: oklch(32.437% 0.022 264.182);
	--color-primary: oklch(59.435% 0.077 254.027);
	--color-primary-content: oklch(11.887% 0.015 254.027);
	--color-secondary: oklch(69.651% 0.059 248.687);
	--color-secondary-content: oklch(13.93% 0.011 248.687);
	--color-accent: oklch(77.464% 0.062 217.469);
	--color-accent-content: oklch(15.492% 0.012 217.469);
	--color-neutral: oklch(45.229% 0.035 264.131);
	--color-neutral-content: oklch(89.925% 0.016 262.749);
	--color-info: oklch(69.207% 0.062 332.664);
	--color-info-content: oklch(13.841% 0.012 332.664);
	--color-success: oklch(76.827% 0.074 131.063);
	--color-success-content: oklch(15.365% 0.014 131.063);
	--color-warning: oklch(85.486% 0.089 84.093);
	--color-warning-content: oklch(17.097% 0.017 84.093);
	--color-error: oklch(60.61% 0.12 15.341);
	--color-error-content: oklch(12.122% 0.024 15.341);
	--radius-selector: 1rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

@plugin 'daisyui/theme' {
	/* this is dracula with modified radius field and radius box */
	name: 'appdark';
	color-scheme: dark;
	--color-base-100: oklch(28.822% 0.022 277.508);
	--color-base-200: oklch(26.805% 0.02 277.508);
	--color-base-300: oklch(24.787% 0.019 277.508);
	--color-base-content: oklch(97.747% 0.007 106.545);
	--color-primary: oklch(75.461% 0.183 346.812);
	--color-primary-content: oklch(15.092% 0.036 346.812);
	--color-secondary: oklch(74.202% 0.148 301.883);
	--color-secondary-content: oklch(14.84% 0.029 301.883);
	--color-accent: oklch(83.392% 0.124 66.558);
	--color-accent-content: oklch(16.678% 0.024 66.558);
	--color-neutral: oklch(39.445% 0.032 275.524);
	--color-neutral-content: oklch(87.889% 0.006 275.524);
	--color-info: oklch(88.263% 0.093 212.846);
	--color-info-content: oklch(17.652% 0.018 212.846);
	--color-success: oklch(87.099% 0.219 148.024);
	--color-success-content: oklch(17.419% 0.043 148.024);
	--color-warning: oklch(95.533% 0.134 112.757);
	--color-warning-content: oklch(19.106% 0.026 112.757);
	--color-error: oklch(68.22% 0.206 24.43);
	--color-error-content: oklch(13.644% 0.041 24.43);
	--radius-selector: 1rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

@plugin 'daisyui' {
	prefix: '';
	exclude: rootscrollgutter, properties;
	themes:
		'applight' --default,
		'appdark' --prefersdark,
		'abyss',
		'acid',
		'aqua',
		'autumn',
		'black',
		'bumblebee',
		'business',
		'caramellatte',
		'cmyk',
		'coffee',
		'corporate',
		'cupcake',
		'cyberpunk',
		'dark',
		'dim',
		'dracula',
		'emerald',
		'fantasy',
		'forest',
		'garden',
		'halloween',
		'lemonade',
		'light',
		'lofi',
		'luxury',
		'night',
		'nord',
		'pastel',
		'retro',
		'silk',
		'sunset',
		'synthwave',
		'valentine',
		'winter',
		'wireframe';
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	:root,
	:where([data-theme]) {
		/* light versions */
		--bg-mermaid-light: color-mix(in oklch, var(--color-base-200) 80%, white 50%);
		--bg-code-light: var(--color-base-content);
		--bg-code-header-light: color-mix(in oklch, var(--color-base-content) 90%, white 10%);
		--text-code-light: var(--color-base-100);
		--text-lineno-light: color-mix(in oklch, var(--color-neutral-content) 80%, black 20%);
		--text-neutral-custom-light: color-mix(in oklch, var(--color-neutral) 80%, white 20%);

		/* dark versions */
		--bg-mermaid-dark: var(--color-base-300);
		--bg-code-dark: var(--color-base-300);
		--bg-code-header-dark: var(--color-base-200);
		--text-code-dark: var(--color-base-content);
		--text-lineno-dark: color-mix(in oklch, var(--color-neutral-content) 50%, white 50%);
		--text-neutral-custom-dark: color-mix(in oklch, var(--color-neutral) 50%, white 50%);

		/* default applies to all light versions  */
		--bg-mermaid: var(--bg-mermaid-light);
		--bg-code: var(--bg-code-light);
		--bg-code-header: var(--bg-code-header-light);
		--text-code: var(--text-code-light);
		--text-lineno: var(--text-lineno-light);
		--text-neutral-custom: var(--text-neutral-custom-light);
	}

	[data-theme='appdark'],
	[data-theme='abyss'],
	[data-theme='aqua'],
	[data-theme='black'],
	[data-theme='business'],
	[data-theme='coffee'],
	[data-theme='dark'],
	[data-theme='dim'],
	[data-theme='dracula'],
	[data-theme='forest'],
	[data-theme='halloween'],
	[data-theme='luxury'],
	[data-theme='night'],
	[data-theme='sunset'],
	[data-theme='synthwave'] {
		--bg-mermaid: var(--bg-mermaid-dark);
		--bg-code: var(--bg-code-dark);
		--bg-code-header: var(--bg-code-header-dark);
		--text-code: var(--text-code-dark);
		--text-lineno: var(--text-lineno-dark);
		--text-neutral-custom: var(--text-neutral-custom-dark);
	}
}

@layer utilities {
	.bg-mermaid {
		background-color: var(--bg-mermaid);
	}
	.bg-code {
		background-color: var(--bg-code);
	}
	.bg-code-header {
		background-color: var(--bg-code-header);
	}
	.text-code {
		color: var(--text-code);
	}
	.text-neutral-custom {
		color: var(--text-neutral-custom);
	}

	.scrollbar-custom-thin {
		/* Firefox */
		scrollbar-width: thin;
		scrollbar-color: rgba(0, 0, 0, 0.5);
	}

	.scrollbar-custom-thin::-webkit-scrollbar {
		width: 4px !important;
		height: 4px !important;
	}

	.scrollbar-custom-thin::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 999px;
	}

	.scrollbar-custom-thin::-webkit-scrollbar-track {
		background-color: transparent;
	}

	.scrollbar-custom-thin:hover::-webkit-scrollbar {
		width: 4px !important;
		height: 4px !important;
	}
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@layer base {
	*::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}

	*::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 999px;
	}

	*::-webkit-scrollbar-track {
		background-color: transparent;
	}
}

/* Shiki styling adjustments */
.shiki-container pre {
	background: transparent !important;
	padding: 0.5em;
	margin: 0;
	border-radius: 0.25rem;
	overflow-x: auto;
}

.shiki-container code {
	background: transparent !important;
	white-space: pre-wrap;
	overflow-wrap: anywhere;
}

code {
	counter-reset: step;
	counter-increment: step 0;
}

code .line {
	user-select: none; /* Disable for entire line */
	-webkit-user-select: none;
}

code .line > * {
	user-select: text; /* Re-enable for code content */
	-webkit-user-select: text;
}

code .line::before {
	content: counter(step);
	counter-increment: step;
	width: 3rem;
	display: inline-block;
	text-align: left;
	user-select: none;
	color: var(--text-lineno, #e0e0e0);
	pointer-events: none;
	-webkit-user-select: none;
}

/* app draggable regions */
.app-drag {
	--app-draggable: drag;
	user-select: none;
}

.app-no-drag {
	--app-draggable: no-drag;
}
